img {    
    max-width: 100%;
    height: auto;    
}

h1 {
    text-align: center;
}

table {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

td {
    width: auto;
}
table, th, td {
    border: 2px solid;
    padding: 2px;
}
th {
    background-color: rgb(93, 188, 247);
}
